descartes==1.1.0
geopandas==0.10.2
jenkspy==0.2.0
libpysal==4.6.2
matplotlib==3.2.1
numpy==1.18.3
pandas==1.1.0
pyecharts==1.9.1
pysal==2.1.0
scipy==1.4.1
seaborn==0.11.0
Shapely==1.6.4.post2
statsmodels==0.13.2
tensorly==0.7.0
